.OptionButton {
    width: 290px;
    height: 102px;
    background-color: #031626;
    border: 2px solid #F2F2F2;
    border-radius: 24px;
    color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OptionButton:hover {
    cursor: pointer;
}

.optionText {
    font-size: 24px;
}

.active {
    background-color: #43A4CEB8;
}