.SidebarButton {
    width: 100%;
    height: 70px;
    border: 2px solid #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.SidebarButton:hover {
    cursor: pointer;
    background-color: #ace6ffb8;
}

.button-text {
    font-size: 24px;
    margin-left: 5px;
}

.active {
    background-color: #43A4CEB8;
}